<div>

    <div class="black"></div>
    <div class="bg-image">
    </div>
    <br>
    <br>
    <br>

    <h1 class="display-4 text-center font-weight-light text-secondary"> What we offer</h1>
    <hr style="background-color: grey; width:500px; height: 1px; margin: auto;">
    <br>
    <br>
    <div class="container text-center">
        <div class="grid-item roomTab">
            <div class="black2" style="color:white;">
                <h4>Room/Appartments/Hostels</h4><br>
                <p class="p-5">Search the best suited rooms/appartments or hostel for you.</p>
            </div>
        </div>
        <div class="grid-item foodTab">
            <div class="black2" style="color:white;">
                <h4>Maintanance Services</h4><br>
                <p class="p-5">Search the best suited rooms/appartments or hostel for you. </p>
            </div>
        </div>
        <!-- <div class="grid-item laundryTab">
            <div class="black2" style="color:white;">
                <h4>Laundry Service</h4><br>
                <p class="p-5">Search the best suited rooms/appartments or hostel for you. Click to know more</p>
            </div>
        </div>
        <div class="grid-item vehicleTab">
            <div class="black2" style="color:white;">
                <h4>Vehicle Rental</h4><br>
                <p class="p-5">Search the best suited rooms/appartments or hostel for you. Click to know more</p>
            </div>
        </div> -->
    </div>
    <br>
    <br>

    <h1 class="display-4 text-center font-weight-light text-secondary">How we work</h1>
    <hr style="background-color: grey; width:500px; height: 1px; margin: auto;">
    <div class="container2">
        <br>
        <br>
        <div class="FindPg">
            <h4 class="h4">1. Find Your property</h4><br>
            <img src="https://img.icons8.com/metro/208/000000/home.png" />
            <br><br>
            <p>Weather for month or for a year, wether individual or company,
                <br> find the property of your choice to live.
            </p>
        </div>
        <img style="transform: rotate(90deg);" src="https://img.icons8.com/ios/100/000000/arrow.png" />
        <div class="ChooseService">
            <h4 class="h4">2. Compare the prices</h4><br>
            <!-- <img src="https://img.icons8.com/material/200/000000/food-bar.png" />
            <img src="https://img.icons8.com/material/200/000000/washing-machine.png"/>
            <img src="https://img.icons8.com/material/200/000000/people-in-car-side-view.png"/> -->
            <img src="https://img.icons8.com/material/200/000000/wallet--v1.png"/>
            <br>
            <ul class="list-inline text-center">
                <!-- <li class="list-inline-item "><strong>Food/Cook/Tiffin &nbsp;&nbsp;</strong></li>
                <li class="list-inline-item  "><strong>Laundry&nbsp;&nbsp;</strong></li>
                <li class="list-inline-item  "><strong>Vehicle Rental&nbsp;&nbsp;</strong></li> -->
                <li class="list-inline-item  "><strong>Check detail & Pricing&nbsp;&nbsp;</strong></li>
            </ul>
            <br>
            <!-- <p>Choose the service you want to avail, everything at just one tap.<br>
                 Get food, laundry, Vehicle on rent or in case run out of cash
                  you can have credit too.</p> -->
        </div>
        <img style="transform: rotate(90deg);" src="https://img.icons8.com/ios/100/000000/arrow.png" />
        <div class="manage">
            <h4 class="h4">3. Manage All at one place</h4>
            <br><br>
            <img src="https://img.icons8.com/ios-filled/200/000000/change-user-male.png"/>
        </div>
        <img style="transform: rotate(90deg);" src="https://img.icons8.com/ios/100/000000/arrow.png" />
        <div class="more">
            <h4 class="h4">4. We got More...</h4>
            <h1 class="display1">.......</h1>
            <br>
            <br>
            <br>
        </div>
    </div>