<div class="row">
    <nav class="navbar p-0 col-2 d-flex flex-column bg-dark text-justify">
        <ul>
            <li style="margin-top: 20px;"><img src="https://img.icons8.com/material/24/ffffff/user-female-circle.png"/><a routerLink="my-profile">Profile</a></li>
            <li><img src="https://img.icons8.com/material/24/ffffff/cottage.png"/><a routerLink="add-PG">Add your PG</a></li>
            <li><img src="https://img.icons8.com/material/24/ffffff/list.png"/> <a routerLink="pg-List">PG List</a></li>
            <li><img src="https://img.icons8.com/material/24/ffffff/business-contact.png"/> <a routerLink="tenants">Tenant Details</a></li>
        </ul>
    </nav>
      <div class="col-10">
       <router-outlet></router-outlet>
      </div>
</div>