<div class="body">
  <router-outlet></router-outlet>
    <div class="container-fluid searchBox">
        <div class="black"></div>
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Enter your location" aria-label="Search"
            aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <img src="https://img.icons8.com/android/24/000000/search.png"/>
          </span>
        </div>
        <hr>  
        <h4>Filter your search</h4>
        <div class="filterBar">
            <div class="locDropdown">
                <div class="btn-group show-on-hover">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Location <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
            </div>
            <div class="priceDropdown">
                <div class="btn-group show-on-hover">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Price Range <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
            </div>
            <div class="typeDropdown">
                <div class="btn-group show-on-hover">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Room Type <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
            </div>
        </div>
       </div>
    <div class="container m-5">
        <div class="container">
          <div class="row" *ngFor="let list of pgList">
            <div class="col-4">
              <img class="card-img" [src]="list.photos[0]">
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-8 details">
                  <p><strong>{{list.pgname}}</strong></p>
                  <p><strong>Address:</strong>{{list.city}},{{list.pincode}},{{list.state}} </p>
                  <p><strong>Rent </strong> {{list.rent}}</p>
                  <p><strong>Type</strong>{{list.type}}</p>
                  <p><strong>Room Available:</strong>{{list.totalroom}}</p>
                </div>
                <div class="col-2">
                  <button class="btn btn-warning" (click)="CheckIn(list._id)">Check In</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>