<div class="container">
    <h1 class="display-5 text-center pt-2">Favourites</h1>
    <div class="row">
        <div class="card col-md-4 m-2" style="width: 18rem;">
            <img src="../../../../../assets/Room3.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Property name</h5>
                <p class="card-text">Property detail and pricing</p>
                <a href="#" class="btn btn-success">View details</a>
                <i class="icon-heart"></i>
            </div>
        </div>
        <div class="card col-md-4  m-2" style="width: 18rem;">
            <img src="../../../../../assets/Room3.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Property name</h5>
                <p class="card-text">Property detail and pricing</p>
                <a href="#" class="btn btn-success">View details</a>
                <span id="heart"><i class="icon-heart"></i></span>
            </div>
        </div>
        <div class="card col-md-4  m-2" style="width: 18rem;">
            <img src="../../../../../assets/Room3.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Property name</h5>
                <p class="card-text">Property detail and pricing</p>
                <a href="#" class="btn btn-success">View details</a>
                <i class="icon-heart"></i>
            </div>
        </div>
    </div>
</div>