<div class="row">
    <nav class="navbar p-0 col-2 d-flex flex-column bg-dark text-justify">
        <ul>
            <li style="margin-top: 20px;"><img src="https://img.icons8.com/material/24/ffffff/user-female-circle.png"/><a routerLink="my-account">My Account</a></li>
            <li><img src="https://img.icons8.com/material-outlined/24/ffffff/like--v2.png"/><a routerLink="favourite">Favourites</a></li>
            <li><img src="https://img.icons8.com/ios-glyphs/24/ffffff/delete-sign.png"/><a routerLink="cancel-booking">Cancel Booking</a></li>
            <li><img src="https://img.icons8.com/carbon-copy/24/ffffff/gear.png"/> <a routerLink="my-profile">Profile Setting</a></li>
        </ul>
    </nav>
      <div class="col-10">
       <router-outlet></router-outlet>
      </div>
</div>