img
{
    margin: 20px auto auto auto;
    width: 180px;
    height: 180px;
    border-radius: 0%;
}

input{
    border:none;
}
input:focus
{
    border: none;
    background-color: none;
    outline: 0;
}
