<h1 class="display-5 text-center">Your Properties</h1>
<div class="row p-3">
    <table class="table table-striped table-dark ">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Property Name</th>
            <th scope="col">Type</th>
            <th scope="col">City</th>
            <th scope="col">Available Room</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" >1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>5/15</td>
            <td><img src="https://img.icons8.com/android/24/ffffff/edit.png"/>&nbsp;&nbsp;<img src="https://img.icons8.com/flat-round/24/ffffff/delete-sign.png"/></td>
          </tr>
 
       
        </tbody>
      </table>
</div>